
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shere style */
.disply-flex{
    display: flex;
}
/* dark03 */
.text-gray{
    color:  #424242;
}
/* dark03 */
.text-light-gray{
   color: #727272f9;
}
.bg-light{
    background-color: rgba(255, 143, 14, 0.114);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600px;
    border-radius: 8px;
    border: none;
}

/* header style */


/* navber related style */
.navber{
    justify-content: space-between;
    align-items: center;
    
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
   list-style: none;
   margin-right: 30px;
}
.nav-links{
    text-decoration: none;
    font-weight: 500;
}
.navber,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related style */
.banner-containt{
    max-width: 850;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-titel{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
/* responsive media queary */
@media screen and (max-width:576px)