
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shere style */
.disply-flex{
    display: flex;
  }
  .trxt-primary{
    color: #FF900E;
  }
/* dark02 */
.text-gray{
    color:  #424242;
}
/* dark03 */
.text-light-gray{
   color: #727272f9;
}
.section-titel{
    font-size: 2.8rem;
    font-weight: 700;
}
.bg-light{
    background-color: rgba(255, 143, 14, 0.114);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600px;
    border-radius: 8px;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}

/* header style */


/* navber related style */
.navber{
    justify-content: space-between;
    align-items: center;
    
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
   list-style: none;
   margin-right: 30px;
}
.nav-links{
    text-decoration: none;
    font-weight: 500;
}
.navber,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related style */
.banner-containt{
    max-width: 850;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-titel{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
/* team and feture related style */
.teams{
    align-items: center;
}
.team-image-cointainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-featuatrs{
     margin-left:  130px;
     max-width: 530px;
}

#quick-list{
    font-weight: 500;
}
/* responsive media queary */
@media screen and (max-width:576px){
    .navber,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-image-cointainer{
        grid-template-columns: repeat(1,1fr);
    }
    .our-featuatrs{
        margin-left: 20px;}
}
/* for medium screen */
@media screen and (min-width:576px)and(max-width:992px){
    .teams{
        flex-direction: column;
    }
    .our-featuatrs{
        margin: 50 auto;
    }
    
}
